.header {
    width: 100%;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 18px;
}

.headerLinks a {
    color: var(--dark);
    font-size: 1rem;
}

.loginPanel {
    display: flex;
    align-items: center;
    gap: 18px;
}

.loginPanel a, li {
    color: var(--dark);
    font-size: 1rem;
}

.loginPanel li:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loginPanel button {
    background-color: var(--blue);
    border: none;
    padding: 10px 18px;
    border-radius: 100px;
    color: white;
    font-size: 14px;
}