* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --dark: #050038;
    --blue: #4262FF;
    --yellow: #FFD02F;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Helvetica', sans-serif;
}